.gradient-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: radial-gradient(circle at center, rgba(247, 1, 120, 0.4) 0%, rgba(160, 8, 156, 0.3) 50%, rgba(99, 13, 178, 0.1) 100%);
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform 0.1s ease-out;
  }